asgiref==3.8.1
dj-database-url==2.2.0
dj-rest-auth==6.0.0
Django==5.0.6
django-allauth==0.63.3
django-oauth-toolkit==2.4.0
djangorestframework==3.15.2
gotrue
gunicorn==22.0.0
httpx
jwcrypto==1.5.6
oauthlib==3.2.2
postgrest-py
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytest==6.2.5
supabase
