{% extends "base.html" %}
{% load socialaccount %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark btn-block">
                            <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google Logo" class="mr-2">
                            Login with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}